
@import url(./roboto.css);

html {
  direction: ltr;
}

body {
  font-family: Roboto, "Quicksand", Arial, sans-serif;
  font-size: 81.25%;
}

button {
  font-family: Roboto, "Quicksand", Arial, sans-serif;
}
